// $main-heading-color: #fed312;
$main-heading-color: #ffd845;
$bg-color: #00186c;
$secondary-bg-color: #00b3e6;

body {
	background-color: #fff;
	// font-family: sans-serif;
	font-size: 18px;
	line-height: 1.6em;
	color: #fff;
}

h1 {
	color: $bg-color;
	font-weight: 500;
	font-size: 36px;
	padding-top: 20px;
}

.navbar {
	background-color: $secondary-bg-color;
	border-color: #119cc3;
	a {
		color: $bg-color !important;
	}
	.navbar-brand {
		// color: $main-heading-color !important;
	}
}
#banner {
	background-color: $secondary-bg-color;
	padding: 50px 10px;
}