// colors

$main-heading-color: #f18610;
$bg-color: #00186c;
$secondary-bg-color: #00b3e6;
$heading-main: #f18610; // Smalt Blue
$heading-primary: #00186c; // Martinique
$heading-scondary: #A2B9B2; // Edward
$text-light: #fff;

// fonts 

$primary-font: 'Source Sans Pro', sans-serif;

//colum number

$columns-number: 5;
$row-height: 50px;


// $secondary-bg-color: #4c1165;
